.turn_container {    
    display: flex;
    flex-direction: row;    
    //background: limegreen; 
    @media(max-width: $desktop-breakpoint) {        
        height: 4rem;
    }
}

.turn_container_title{    
    display: flex;
    flex-direction: row;       
    //background: blueviolet;
    @media(max-width: $desktop-breakpoint) {
        font-size: small;        
    }
}

.empty_div_turn_container_title{
    display: flex;    
    flex-grow: 5;
    //background: green;
    @media(max-width: $desktop-breakpoint) {
        flex-grow: 10;        
    }
}

.Score_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0.88;
    //background: greenyellow;
    @media(max-width: $desktop-breakpoint) {
        flex-grow: 0; 
        padding-right: 4px ;       
    }

}

.Score_title div {
    @media(max-width: $desktop-breakpoint) {
        margin: 0 5%;        
    }
}

// .turn_container_title div{    
//     margin: 0 3.5%;    
// }

// .turn_container_title div:last-child{    
//     margin-right:3%;    
// }
.Slno {
    display: flex;
    flex-grow: 0.9;
    justify-content: space-around;    
    font-size: $m-size;
    border-right: 4px solid black ;

    //background: red;    
}

.Guess{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-around;
    margin-right: 2.5%;
    margin-left: 2.5%;     
    align-items: center; 
    border-right: 4px solid black ;
    //background: blue;     
}

.Score {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    text-align: right;  
    @media(max-width: $desktop-breakpoint) {
        padding-right: 1rem;
    }  
    //background: green;     
}

.Score div {   
    min-width: $m-size;
    @media(max-width: $desktop-breakpoint) {
        font-size: small;
    }

}

.letterBox {
    max-width: 5rem;
    height:70%;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 0 1pt grey;
    text-align: center;
    @media(max-width: $desktop-breakpoint) {
        max-width: 2rem;
        height: 50%;
    }
}