.header-container {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.header__title {
  font-family: 'Oswald';
  // background: $dark-blue;
  background: url("/images/cows-bulls.png");
  background-size: cover;
  height: 100%;
  color: white;
  margin-top: $s-size;
  margin-bottom: $m-size;
  font-size: $xl-size;
  font-weight: 300;
  padding: $xl-size;
  letter-spacing: $m-size;
  border-radius: $m-size;
}

.game-container {
  margin: 0 auto;
  text-align: center;
}

.game-container a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.3rem;
  font-size: $m-size;
}

.a-border {
  padding-right: $m-size;
}

.a-border-2 {
  padding-left: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .header__title {
    padding: $xxl-size;
    font-size: $xxl-size;
  }
}

