

// Colors
$dark-blue: #073763ff;
$light-blue: #3d85c6ff;
$light-grey: #f2f2f2ff;
$dark-grey: #a6a6a6ff;
$medium-grey: #f3f3f3ff;
$shadow: #1D1F26;
$red: #de5246;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$desktop-breakpoint: 45rem;